VITE_ALLOW_MULTIPLE_ORGANIZATIONS=true
VITE_WAITLIST_MODE=false
VITE_UMAMI_SCRIPT_URL=http://localhost:3001/script.js
VITE_UMAMI_WEBSITE_ID=
VITE_TAWK_KEY=
VITE_API_DOCS_URL=http://localhost:8000/redoc
